<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
        <a href="/auth/github">
            <img src="" alt="">
        </a>
    </form>
    <a href="{{registerLink}}">Regístrate</a>
</body>

</html>
